/* * 	
 * *	Dynamic Text Group styling
 * *	@author: Brock Petrie, brockpetrie@gmail.com
 * *	@source: http://github.com/brockpetrie/dynamictextgroup
 * */
	
.field-dynamictextgroup div.frame ul.selection li { 
	padding-right: 0; 
}

.field-dynamictextgroup div.frame .content {
	overflow: hidden;
	position: relative;
	padding-right: 90px;
}
.field-dynamictextgroup div.frame header {
	height: 18px;
}
.field-dynamictextgroup .destructor {
	position: absolute;
	top: 8px;
	right: 10px;
	color: rgba(0, 0, 0, 0.3);
	border-bottom: none;
	font-weight: normal;
	margin: 0;	
}
.field-dynamictextgroup div.frame span {
	padding: 3px 42px 4px 16px;
	display: block;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	}


.field-dynamictextgroup div.frame span.fields {
	background:none !important;
	padding: 0px;
	width: 100%;
	}
.field-dynamictextgroup div.frame span.fieldHolder {
	background:none !important;
	padding: 0 3px 0 0;
	width: 50%;
	position:relative;
	float: left;
	}
	.field-dynamictextgroup div.frame span.fieldHolder span {
		}

.field-dynamictextgroup div.frame div.clear {
	clear:both;
	}

.field-dynamictextgroup div.frame span.fields em.label {
	color: #BBB;
	position: absolute;
	top:0;
	right:10px;
	margin-top: 0;
	}
	label > i > span.req { color:#d43; }
	.invalid label > i > span.req { color:#fff; }
.field-dynamictextgroup div.frame span.fields em.end.label {
	top: 28px;
	}



/*	*	*	Focus Styling	*	*	*/
.field-dynamictextgroup div.frame span.fields.focus input,
.field-dynamictextgroup div.frame span.fields.focus .customStyleSelectBox {
	box-shadow: 0 0 5px #a7a7a7 !important;
	-webkit-box-shadow: 0 0 5px #a7a7a7 !important;
	-moz-box-shadow: 0 0 5px #a7a7a7 !important;
	}
.field-dynamictextgroup div.frame span.fields input:focus { outline: none; }



/*	*	*	Bad/invalid item styling	*	*	*/
.field-dynamictextgroup div.invalid {
	padding: 0.75em 1em 0.75em;
	background-color: #D42;
	border: 1px solid #C31;
	border-top-width: 0;
	border-bottom-color: #B21;margin-top: 1.5em;
	}
	.field-dynamictextgroup div.invalid label { border:none; margin-top:1px; margin-bottom:1.5em; }
	.field-dynamictextgroup div.invalid label i { top:0; right:0; }
	.field-dynamictextgroup div.invalid .frame { margin-bottom:0.75em; }
	.field-dynamictextgroup div.invalid p {
		margin: 0;
		padding: 0;
		background: none;
		border: none;
		}
.field-dynamictextgroup .invalid .req input[value=""],
.field-dynamictextgroup .invalid .req.empty .customStyleSelectBox,
.field-dynamictextgroup .invalid .baditem input[type="text"],
.field-dynamictextgroup .invalid .baditem label {
	border: 1px solid #d42 !important;
	}
.field-dynamictextgroup .invalid .new .req input[value=""] {
	border: 1px solid #C2C2C2 !important;
	}
.field-dynamictextgroup .invalid .new .req.empty .customStyleSelectBox {
	border: 1px solid #C2C2C2 !important;
	border-bottom-color:#bbb !important;
	}



/*	*	*	Textfield styling	*	*	*/
.field-dynamictextgroup div.frame span.fields input[type="text"] {
	width: 100%;
	font-size: 109.09%;
	border: 1px solid #C2C2C2;
	background: #fff !important;
	padding: 4px 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: inset 1px 1px 1px #eee, 0 1px 0 rgba(255,255,255,0.35);
	-moz-box-shadow: inset 1px 1px 1px #eee, 0 1px 0 rgba(255,255,255,0.35);
	box-shadow: inset 1px 1px 1px #eee, 0 1px 0 rgba(255,255,255,0.35);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	float: left;
	}



/*	*	*	Select list styling	*	*	*/
.field-dynamictextgroup div.frame span.fields select {
	position:relative;
	top:3px;
	font-size: 109.09%;
	}
	span.customStyleSelectBox {
		font-size: 109.09%;
		border: 1px solid #C2C2C2;
		border-bottom-color:#bbb;
		padding: 5px 5px 6px 5px !important;
		line-height:1em;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		float: left;
		background: #ffffff;
		background: -moz-linear-gradient(top, #ffffff 0%, #eee 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eee));
		background: -webkit-linear-gradient(top, #ffffff 0%,#eee 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#eee 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#eee 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
		background: linear-gradient(top, #ffffff 0%,#eee 100%);
		}
	span.customStyleSelectBox span, span.customStyleSelectBox span:hover {
		background:url(images/select-arrows.png) no-repeat center right !important;
		padding:0 !important;
		}
	span.customStyleSelectBoxInner { background:url(images/select-arrows.png) no-repeat center right !important; }



/* Radio Styling*/
.field-dynamictextgroup div.frame .fieldtype-radio input, .field-dynamictextgroup div.stage .fieldtype-checkbox input { position:relative; top:1px; }
.field-dynamictextgroup div.frame .fieldtype-radio label,
.field-dynamictextgroup div.frame .fieldtype-checkbox label {
	margin:0;
	padding: 5px 4px 5px 4px !important;
	border:1px solid transparent;
	text-align:center;
	line-height:1em;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background:none;
	}

.dbox {
	height: 100%;
	padding: 0 6px;
	/*border-left: 1px solid #ccc;*/
}
.dbox:first-child {
	padding: 0 6px;
	border: none;
}
.dtg-text.dbox, .dtg-select.dbox {
	-webkit-box-flex: 2;
	-moz-box-flex: 2;
	box-flex: 2;
}	
.dtg-checkbox.dbox,
.dtg-radio.dbox {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
}	
.dtg-checkbox.dbox label, 
.dtg-radio.dbox label {
	/*top: 20px;*/
	margin-bottom: 0;
}	
.content.flexgroup {
	display: -webkit-box;
	display: -moz-box;
	display: box;

	-webkit-box-orient: horizontal; 
	-webkit-box-align: center;
	-webkit-box-pack: justify;
	-webkit-box-ordinal-group: 1;

	-moz-box-orient: horizontal; 
	-moz-box-align: center;
	-moz-box-pack: justify;
	-moz-box-ordinal-group: 1;

	box-orient: horizontal; 
	box-align: center;
	box-pack: justify;
	box-ordinal-group: 1;
}
